body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #ffffff;
}

.background1 {
	background-color: #222222;
	width: 100%;
}

.logosection {
	padding: 25em 0 25em;
	width: 100%;
}

h1 {
	width: 300px;
	margin-left: 25px;
	float: left;
	z-index: 3;
}

.logo {
	position: relative;
	padding-right: 5em;
	z-index: 100;
}

.js-logo-move {
	x-webkit-animation: logo-move 1s linear forwards;
	position: fixed;
	top: -600px;
}

@-webkit-keyframes logo-move {
	0% {
		top: 0px;
	}

	100% {
		top: -600px;
	}
}

.links {
	width: 225px;
	margin-top: 300px;
	margin-right: 25px;
	float: right;
	position: relative;
	display: block;
	z-index: 5;
}


a:link {
	color: #aaa;
	padding: 15px;
}
a:visited {
	color: #aaa;
}
a:active {
	color: orange;
}
a {
	text-decoration: none;
}

.about {
	padding: 40em 0 15em;
	background-color: #555555;
}

.about-par{
	position: relative;
	width: 250px;
	margin-left: 300px;
}

.portfolio-pieces {
	padding: 12em 0 12em;
	position: relative;
	text-align: center;
	z-index: -1;
}

.portfolio {
	padding: 1em;
}

.contact {
	padding: 20em 0 20em;
	width: 100%;
	background-color: #999999;
	text-align: center;
}

.icons {
	border-radius: 200px;
	position: relative;
	padding: 25px;

}