body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #ffffff;
}

.logosection {
	padding: 25em 0 25em;
	background-color: #222222;
}

h1 {
	width: 300px;
	margin-left: 25px;
	float: left;
}

.logo {
	position: relative;
}

.js-logo-move {
	x-webkit-animation: logo-move 500ms linear forwards;
	position: fixed;
	top: -200px;
}

@-webkit-keyframes logo-move {
	0% {
		top: 5em;
	}

	100% {
		top: 50px;
	}
}

.links {
	width: 225px;
	margin-top: 300px;
	margin-right: 25px;
	float: right;
	position: relative;
	display: block;
}

.js-links-move {
	x-webkit-animation: links-move 1s linear forwards;
	position: fixed;
	top: 50px;
}

@-webkit-keyframes links-move {
	0% {
		top: 5em;
	}

	100% {
		top: 50px;
	}
}

a:link {
	color: #ffffff;
	padding: 15px;
}
a:visited {
	color: #ffffff;
}
a:active {
	color: orange;
}
a {
	text-decoration: none;
}

.about {
	padding: 10em 0 10em;
	background-color: #555555;
}

.about-par{
	position: relative;
	width: 250px;
	margin-left: 25px;
	
}

.portfolio {
	padding: 2em 0 2em;
	position: relative;
	margin-left: 15px;	
}

.contact {
	padding: 20em 0 20em;
	width: 100%;
	background-color: #999999;
}

.icons {
	border-radius: 200px;
	position: relative;
}