body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #ffffff;
	background-color: #333333;
}

h1{
	width: 300px;
	margin-top: 455px;
	margin-left: 25px;
	float: left;
}

.Links{
	width: 225px;
	margin-top: 730px;
	margin-right: 25px;
	float: right;
}

a:link {
	color: #ffffff;
	padding: 15px;
}
a:visited {
	color: #ffffff;
}
a:active {
	color: orange;
}
a {
	text-decoration: none;
}

.about-par{
	position: absolute;
	width: 250px;
	height: 600px;
	margin-top: 850px;
	margin-left: 25px;
}